*.DS_Store

bin/*
env/*
etc/*
include/*
lib/*
lib64
share/*
flask_app/instance/database.db
instance/*

.env
.flaskenv
*.egg
*.egg-info/

__pycache__/
*.pyc
instance
*/__pycache__

*.webassets-cache
*/webassets-cache
*.wsgi
wsgi.py

.htaccess
*.log
log/*
.sass-cache/*