*.DS_Store
**/.DS_Store

bin/*
env/*
etc/*
include/*
lib/*
lib64
share/*
instance/database.db
instance/**
instance/*

.env
.flaskenv
*.egg
*.egg-info/

__pycache__/
*.pyc
instance
**/__pycache__

*.webassets-cache
*/webassets-cache
*.wsgi
wsgi.py

.htaccess
*.log
log/*
.sass-cache/*
.pytest_cache/*
.sass-cache
.pytest_cache

load_remote_data.py
sspi_main_data_v3.json
sspi_metadata.json