*.DS_Store
**/.DS_Store
*~
*.swp
*.swo

bin/*
env/*
etc/*
include/*
lib/*
lib64
share/*
instance/database.db
instance/**
instance
instance/*

.env
.flaskenv
*.egg
*.egg-info/


__pycache__
/__pycache__/
*.pyc
instance
**/__pycache__
**/__pycache__/
*.pyc
*.pyo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

*.webassets-cache
*/webassets-cache
*.wsgi
wsgi.py

.htaccess
*.log
log/*
.sass-cache/*
.pytest_cache/*
.sass-cache
.pytest_cache

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Bulk Data
**/raw_bulk_data/*
**.ipynb_checkpoints
