<option value="ECO">Ecosystem</option>
<option value="LND">Land</option>
<option value="NRG">Energy</option>
<option value="GHG">Greenhouse Gases</option>
<option value="WST">Waste</option>
<option value="WEN">Worker Engagement</option>
<option value="WEB">Worker Wellbeing</option>
<option value="TAX">Taxes</option>
<option value="FIN">Financial Sector</option>
<option value="NEQ">Inequality</option>
<option value="EDU">Education</option>
<option value="HLT">Healthcare</option>
<option value="INF">Infrastructure</option>
<option value="RTS">Rights</option>
<option value="SAF">Public Safety</option>
<option value="GLB">Global Role</option>
