{% extends 'layout.html' %}

    {% block javascript %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    {% endblock %}

    {% block content %}

    <article class="comparison-article"> 
        {% block comparison_title %} {% endblock %}
        {% block comparison_subtitle %} {% endblock %}

        <section>
            <h3> Sustainability </h3>
            {% block sustainability %} {% endblock %}
        </section>
        <section>
            <h3> Market Structure </h3>
            {% block market_structure %} {% endblock %}
        </section>
        <section>
            <h3> Public Goods </h3>
            {% block public_goods %} {% endblock %}
        </section>
    </article> 

    {% endblock %}
