{% extends 'layout.html' %}

{% block javascript %}
    {% block javascript_chart_js %}{% endblock %}
{% endblock %}

{% block content %}
<h3> Selected Country Comparisons (2018 Data) </h3>
<section class="comparsion-article">
    <a href="/compare/sweden-france-japan"> Sweden, France, Japan </a>
</section>
<section class="comparsion-article">
    <a href="/compare/china-russia-usa"> China, Russia, USA </a>
</section>
<section class="comparsion-article">
    <a href="/compare/brazil-india-indonesia"> Brazil, India, and Indonesia</a>
</section>
{% endblock %}
