{% extends 'layout.html' %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
{% endblock %}
    
{% block content %}
<h3> Country Comparisons </h3>
<section class="comparsion-article">
    <a href="/comparisons/sweden-france-japan"> Sweden, France, Japan </a>
</section>
<section class="comparsion-article">
    <a href="/comparisons/china-russia-usa"> China, Russia, USA </a>
</section>
<section class="comparsion-article">
    <a href="/comparisons/brazil-india-indonesia"> Brazil, India, and Indonesia</a>
</section>
{% endblock %}
