<datalist id="country-namecode-options"> 
    <option value="Argentina (ARG)">
    <option value="Australia (AUS)">
    <option value="Austria (AUT)">
    <option value="Belgium (BEL)">
    <option value="Brazil (BRA)">
    <option value="Canada (CAN)">
    <option value="Chile (CHL)">
    <option value="China (CHN)">
    <option value="Colombia (COL)">
    <option value="Czech Republic (CZE)">
    <option value="Denmark (DNK)">
    <option value="Estonia (EST)">
    <option value="Finland (FIN)">
    <option value="France (FRA)">
    <option value="Germany (DEU)">
    <option value="Greece (GRC)">
    <option value="Hungary (HUN)">
    <option value="Iceland (ISL)">
    <option value="India (IND)">
    <option value="Indonesia (IDN)">
    <option value="Ireland (IRL)">
    <option value="Israel (ISR)">
    <option value="Italy (ITA)">
    <option value="Japan (JPN)">
    <option value="South Korea (KOR)">
    <option value="Kuwait (KWT)">
    <option value="Latvia (LVA)">
    <option value="Lithuania (LTU)">
    <option value="Luxembourg (LUX)">
    <option value="Mexico (MEX)">
    <option value="Netherlands (NLD)">
    <option value="New Zealand (NZL)">
    <option value="Norway (NOR)">
    <option value="Poland (POL)">
    <option value="Portugal (PRT)">
    <option value="Russia (RUS)">
    <option value="Saudi Arabia (SAU)">
    <option value="Singapore (SGP)">
    <option value="Slovakia (SVK)">
    <option value="Slovenia (SVN)">
    <option value="South Africa (ZAF)">
    <option value="Spain (ESP)">
    <option value="Sweden (SWE)">
    <option value="Switzerland (CHE)">
    <option value="Turkey (TUR)">
    <option value="United Arab Emirates (ARE)">
    <option value="United Kingdom (GBR)">
    <option value="United States (USA)">
    <option value="Uruguay (URY)">
</datalist>
