{% extends 'layout.html' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('client_bp.static', filename='css/components/customization-drag-and-drop.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('client_bp.static', filename='css/components/customizable-sspi-enhanced.css') }}">
{% endblock %}

{% block content %}
<div id="sspi-root"></div>
<script src="{{ url_for('client_bp.static', filename='charts/components/indicator-selector.js') }}"></script>
<script src="{{ url_for('client_bp.static', filename='js/indicator-selection-menu.js') }}"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const root = document.getElementById('sspi-root');
    window.SSPICharts.push(
        new CustomizableSSPIStructure(root)
    )
});
</script>

{% endblock %}
