<figure class="data-widget">
    <nav class="widget-controls">
        <button>Options</button>
        <button>Fullscreen Toggle</button>
        <button>Close</button>
    </nav>
    <div>
        <p>A data widget is a user friendly interactive view of the data.  Each widget
            contains a few standard elements, specified here:</p>
        <ul>
            <li>A close button specified in the top right corner of the box</li>
            <li>A widget options button to change the contents of the widget</li>
            <li>A fullscreen button which turns the widget into a modal that takes up all the available screen space </li>
            <li>A main canvas where the chart or table or other visualization gets rendered; this takes up the majority
                of the widget's area
            </li>
        </ul>
        <p></p>
    </div>
</figure>
