<section class="data-dashboard-section">
    <h1>Explore Policy Data</h1>
    <nav class="data-dashboard-options">
        <div class="data-dashboard-dropdown">
            <p> Explore Data <div>downarrow</div> </p>
            <ul class="data-dashboard-options-list">
                <li><button></button></li>
                <li><button></button></li>
            </ul>
        </div>
        
    </nav>
    <section class="widget-canvas">
        <figure class="widget">
            Spider plots go here
        </figure>
        <figure class="widget">
            This will eventually be a chart
        </figure>
    </section>
</section>