{% extends 'layout.html' %}

{% block title %}
<title>SSPI Dynamic Data Overview</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('client_bp.static', filename = 'css/data-overview.css') }}"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:wght@400;700&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="overview-section">
    <h1> Dynamic Data Overview </h1>
    <div class="matrix-legend">
        <h2 class="legend-title">Data Coverage Legend</h2>
        <div class="legend-container">
            <div class="matrix-legend-element">
                <div class="legend-box green-box"> </div>
                Data is collected, cleaned, and ready to be used. Opacity indicates years available.
            </div>
            <div class="matrix-legend-element">
                <div class="legend-box yellow-box"> </div>
                Code to collect the data is written, but is not currently in the database.
            </div>
            <div class="matrix-legend-element">
                <div class="legend-box orange-box"> </div>
                Data is collected in files, but not yet cleaned or ready to be used.
            </div>
            <div class="matrix-legend-element">
                <div class="legend-box green-outline"> </div>
                We feel confident that we will be able to collect the data
            </div>
            <div class="matrix-legend-element">
                <div class="legend-box red-outline"> </div>
                A known problem exists with the indicator for dynamic data, and it requires attention
            </div>
        </div>
    </div>
    <h2> SSPI 49 Countries </h2>
    <div id="data-matrix-dynamic-sspi49" width="400" height="400"></div>
    <h2> SSPI Extended Countries </h2>
    <div id="data-matrix-dynamic-sspiextended" width="400" height="400"></div>
    <h2> Non-SSPI </h2>
    <div id="data-matrix-dynamic-nonsspi" width="400" height="400"></div>
    <script defer>
        window.addEventListener("load", (event) => {
            window.SSPICharts = [
                new DynamicMatrixChart(
                    document.getElementById('data-matrix-dynamic-sspi49'),
                    "SSPI49",
                    width=400,
                    height=380
                ),
                new DynamicMatrixChart(
                    document.getElementById('data-matrix-dynamic-sspiextended'),
                    countryGroup="SSPIExtended",
                    width=400,
                    height=150
                ),
                new DynamicMatrixChart(
                    document.getElementById('data-matrix-dynamic-nonsspi'),
                    countryGroup="NonSSPI",
                    width=400,
                    height=1200
                )
            ]
        })
    </script>
</section>
{% endblock %}
