<figure class="data-widget">
    <nav class="widget-controls">
        <button class="widget-button"><img style="width: 16px; height: 16px" src="{{ url_for('client_bp.static', filename='/svg_assets/options-slider.svg') }}"/></button>
        <button class="widget-button"><img style="width: 16px; height: 16px" src="{{ url_for('client_bp.static', filename='/svg_assets/fullscreen.svg') }}"/></button>
        <button class="widget-button"><img style="width: 16px; height: 16px" src="{{ url_for('client_bp.static', filename='/svg_assets/close.svg') }}"/></button>
    </nav>
    <div>
        <p>A data widget is a user friendly interactive view of the data.  Each widget
            contains a few standard elements, specified here:</p>
        <ul>
            <li>A close button specified in the top right corner of the box</li>
            <li>A widget options button to change the contents of the widget</li>
            <li>A fullscreen button which turns the widget into a modal that takes up all the available screen space </li>
            <li>A main canvas where the chart or table or other visualization gets rendered; this takes up the majority
                of the widget's area
            </li>
        </ul>
        <p></p>
    </div>
</figure>
