{% extends 'layout.html' %}

{% block title %}
<title>SSPI Data</title>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<section id="dynamic-data-section"></section>

<script>
    window.addEventListener("load", (event) => {
        window.observableStorage = new ObservableStorage();
        window.SSPICharts = [
            new SSPIPanelChart(document.getElementById("dynamic-data-section"), "SSPI"),
            // new ScoreBarStatic(document.getElementById("static-data-section"), "SSPI")
        ];
        const x = window.observableStorage.getItem('windowX');
        const y = window.observableStorage.getItem('windowY');
        
        if (x !== null && y !== null) {
          window.moveTo(parseInt(x), parseInt(y));
        }
    })
    window.addEventListener('beforeunload', () => {
      window.observableStorage.setItem('windowX', window.screenX);
      window.observableStorage.setItem('windowY', window.screenY);
    });
</script>
{% endblock %}
