<section class="data-dashboard-section">
    <h1>Explore Policy Data</h1>
    <nav class="data-dashboard-options">
        <div class="data-dashboard-dropdown">
            Data View
            <ul class="data-dashboard-options-list">
                <li><button>H</button></li>
                <li><button></button></li>
            </ul>
        </div>
    </nav>
    <section class="widget-canvas grid-stack">
        <script type="text/javascript" defer>
            var items = [
                {content: 'my first widget'}, // will default to location (0,0) and 1x1
                {w: 2, content: 'another longer widget!'}
            ]
            var grid = GridStack.init();
            grid.load(items);
        </script>
        {% include 'data-widget.html' %}
        <button onclick="addWidget()" class="widget-controls-button" id="add-widget-button"><img class="options" style="width: 32px; height: 32px" src="{{ url_for('client_bp.static', filename='/svg_assets/add-circle.svg') }}"/></button>
    </section>
</section>