<nav class="widget-controls">
    <button class="widget-controls-button"><img class="options" style="width: 32px; height: 32px" src="{{ url_for('client_bp.static', filename='/svg_assets/options-slider.svg') }}"/></button>
    <button class="widget-controls-button"><img class="fullscreen" style="width: 32px; height: 32px" src="{{ url_for('client_bp.static', filename='/svg_assets/fullscreen.svg') }}"/></button>
    <button onclick="removeWidget(this)" class="widget-controls-button"><img class="close" style="width: 32px; height: 32px" src="{{ url_for('client_bp.static', filename='/svg_assets/close.svg') }}"/></button>
</nav>
{% if widgettype == "barchart" %}
    <canvas class="bar-chart"></canvas>
    <script>
        const BarChartCanvas = document.getElementById('BarChart');
        const BarChart = new Chart(BarChartCanvas, {
            type: 'bar',
            data: {},
            options: {}
        });
        makeBarChart("BIODIV")
    </script>
    <!-- <div>
        <p>A data widget is a user friendly interactive view of the data.  Each widget
            contains a few standard elements, specified here:</p>
        <ul>
            <li>A close button specified in the top right corner of the box</li>
            <li>A widget options button to change the contents of the widget</li>
            <li>A fullscreen button which turns the widget into a modal that takes up all the available screen space </li>
            <li>A main canvas where the chart or table or other visualization gets rendered; this takes up the majority
                of the widget's area
            </li>
        </ul>
        <p></p>
    </div> -->
{% endif %}
{% if widgettype == "spiderchart" %}

{% endif %}
{% if widgettype == "table" %}

{% endif %}
    
{% if widgettype == "datatable" %}
    
{% endif %}
{% if widgettype == "linechart" %}
    
{% endif %}