<footer class="site-footer">
    <div class="footer-col-box">
        <div class="footer-col">
            <h2 class="footer-col-title">Data</h2>
            <ul class="footer-col-list">
                <li class="footer-link"><a href="/countries">By Country</a></li>
                <li class="footer-link"><a href="/data">By Indicator</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h2 class="footer-col-title">Methodology</h2>
            <ul class="footer-col-list">
                <li class="footer-link"><a href="/indicators">Indicator Table</a></li>
                <li class="footer-link"><a>Selecting Data Sources</a></li>
                <li class="footer-link"><a>Scoring Policies</a></li>
                <li class="footer-link"><a>Aggregation</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h2 class="footer-col-title">Analysis</h2>
            <ul class="footer-col-list">
                <li class="footer-link"><a href="/analysis/regressions">Series Regressions</a></li>
                <li class="footer-link"><a href="/customize">Sensitivity Testing</a></li>
            </ul>
        </div>
    </div>     
</footer>
