{% extends 'layout.html' %}

{% set globe_data_url = url_for('client_bp.static', filename='globe_data.geojson') %}

{% block javascript %}
<script src="//unpkg.com/d3"></script>
<script src="//unpkg.com/globe.gl"></script>
{% endblock %}

{% block content %}
<div class="home-globe-section">
    <div id="globeViz"></div>
</div>
<script>
const globeDataURL = "{{ globe_data_url }}"
    window.SSPICharts.push(
        new SSPIGlobeChart(document.getElementById("globeViz"), globeDataURL)
    )
</script>
{% endblock %}
