{% extends 'layout.html' %}

{% block content %}

<p> When Professor Brown would discuss the conclusions of her book <a class="hidden-link">Brown (2017), <i>Buddhist Economics: An Enlightened Approach to the Dismal Science</i></a> with readers, an important set of questions came up time and time again: <p><i>Sure, I agree with your vision of what the economy, but what can we actually do? What policies can we implement? How can we get to where we know we need to be, practically speaking? And how will we know how well we're doing?</i></p> </p>

<p> Professor Brown began the SSPI project in 2018 as a practical attempt to measure countries' progress in implenting the key policies for promoting the well-being of people and the planet. Crucially, the SSPI would quantify policy using reliable data published by international organizations.</p>

<p> The SSPI identifies policies known to . Early versions focused primarily on sustainability policies, but the scope soon expanded to include Market Strucuture and Public Goods policies. The SSPI's holistic catalogue of country policies makes it unique among policy indices. </p>

<p> The heirarchal structure---the organization of policies into broad Pillars, segmented into Cateories, with each Category containing several Indicators---emerged as a sensible way to organize policy indicators in a modular way. </p>

{% endblock %}
