{% extends 'layout.html' %}

{% block content %}
    <article class="page-content">
      <section class="hero-box">
        <div class="hero-textbox"> 
          <h1 class="hero-h2">How well are countries doing at guaranteeing wellbeing for people and the planet?</h1>
          <p class="hero-p"> The SSPI assembles data measuring country
                performance across 57 Policy Indicators, offering a
                comprehensive and data-driven look at policy around the world.
          </p> 
          <p class="hero-p"> The SSPI groups these Policy Indicators
                into sixteen Categories, each of measures the performance of a
                package of related policies in a specific sector. The
                Categories are grouped into three Pillars corresponding to the
                three core purposes of governments in the twenty-first century:
                protecting the planet (Sustainability), structuring markets
                (Market Structure), and providing Public Goods. 
          </p>
          <a class="hero-datalink" href="/data"> Explore SSPI Data</a>
        </div>
      </section>
      <section class="chart-section" id="overall-score-chart">
        <h2>SSPI Scores (2018 Data)</h2>
        <script defer>
            window.overallStackedBar = new StaticOverallStackedBarChart(document.getElementById('overall-score-chart'));
        </script>
      </section>
      <section class="side" id="pillars">
        <h2>Three Pillars of the SSPI</h2>
        <div id="pillars-description">
          The three pillars of the SSPI correspond to the three major policy challenges facing governments around the world.
          <ul>
            <li> Protecting the natual environment from degredation to guarantee a liveable and thriving planet for all creatures </li>
            <li> Structuring free and fair markets that promote general prosperity and equality </li>
            <li> Providing public goods that all citizens share  </li>
          </ul>
        </div>
      </section>
    </article>
{% endblock %}
