{% extends 'layout.html' %}

{% block title %}
<title> {{ IndicatorCode | upper }} Indicator Data </title>
{% endblock title %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
<script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'js/indicatorData.js') }} " defer></script>
{% endblock javascript %}

{% block content %}
<section class="hero-box">
    <h1> {{ IndicatorCode | upper }} </h1>
    <select class="indicator-dropdown">
        {% include 'indicator-options.html' %}
    </select>
    <script>
        const defaultOption = document.querySelector('select.indicator-dropdown option[value="{{IndicatorCode | upper}}"]')
        defaultOption.selected = true;
        document.querySelector('select.indicator-dropdown').addEventListener('change', function() {
            console.log(this.value)
            window.location.href = '/data/indicator/' + this.value;
        });
    </script>
</section>
<div>
  <canvas id="myChart"></canvas>
</div>

<section class="static-data">
    <canvas id="static-chart"></canvas>
</section>
<section class="dynamic-data">
    <canvas id="dynamic-chart"></canvas>
</section>
{% endblock content %}
