{% extends 'layout.html' %}

{% block title %}
<title> {{ IndicatorCode | upper }} Indicator Data </title>
{% endblock title %}

{% block content %}
<section class="hero-box">
    <select class="indicator-dropdown">
        {% include 'indicator-options.html' %}
    </select>
    <p class="hero-text" id="dynamic-indicator-description"></p>
    <script>
        const defaultOption = document.querySelector('select.indicator-dropdown option[value="{{IndicatorCode | upper}}"]')
        defaultOption.selected = true;
        document.querySelector('select.indicator-dropdown').addEventListener('change', function() {
            window.location.href = '/data/indicator/' + this.value;
        });
    </script>
</section>

<section class="chart-section" id="dynamic-data-section"></section>

<section class="chart-section" id="static-data-section"></section>

<script>
    window.addEventListener("load", (event) => {
        window.observableStorage = new ObservableStorage();
        window.SSPICharts = [
            new IndicatorPanelChart(document.getElementById("dynamic-data-section"), "{{ IndicatorCode | upper }}"),
            new ScoreBarStatic(document.getElementById("static-data-section"), "{{ IndicatorCode | upper }}")
        ];
        const x = window.observableStorage.getItem('windowX');
        const y = window.observableStorage.getItem('windowY');
        
        if (x !== null && y !== null) {
          window.moveTo(parseInt(x), parseInt(y));
        }
    })
    window.addEventListener('beforeunload', () => {
      window.observableStorage.setItem('windowX', window.screenX);
      window.observableStorage.setItem('windowY', window.screenY);
    });
</script>
{% endblock content %}
