<option value="BIODIV">Biodiversity (BIODIV)</option>
<option value="REDLST">IUCN Red List Index (REDLST)</option>
<option value="NITROG">Sustainable Nitrogen Management (NITROG)</option>
<option value="WATMAN">Water Management (WATMAN)</option>
<option value="STKHLM">Stockholm Convention (STKHLM)</option>
<option value="DEFRST">Deforestation (DEFRST)</option>
<option value="CARBON">Carbon Capture (CARBON)</option>
<option value="ALTNRG">Alternative Energy (ALTNRG)</option>
<option value="NRGINT">Energy Intensity (NRGINT)</option>
<option value="AIRPOL">Air Pollution (AIRPOL)</option>
<option value="GTRANS">Green Transport (GTRANS)</option>
<option value="BEEFMK">Beef Market (BEEFMK)</option>
<option value="COALPW">Coal Power (COALPW)</option>
<option value="MSWGEN">MSW (MSWGEN)</option>
<option value="EWASTE">E-Waste (EWASTE)</option>
<option value="RECYCL">Recycling (RECYCL)</option>
<option value="EMPLOY">Participation in Paid Employment (EMPLOY)</option>
<option value="CHILDW">Child Labor (CHILDW)</option>
<option value="COLBAR">Collective Bagaining (COLBAR)</option>
<option value="UNEMPL">Unemployment Benefits (UNEMPL)</option>
<option value="MATERN">Maternity Leave (MATERN)</option>
<option value="FATINJ">Fatal Injuries (FATINJ)</option>
<option value="SENIOR">Seniors (SENIOR)</option>
<option value="CRPTAX">Corporate Tax (CRPTAX)</option>
<option value="TAXREV">Tax Revenue (TAXREV)</option>
<option value="TAXEVA">Tax Evasion (TAXEVA)</option>
<option value="FSTABL">Stability (FSTABL)</option>
<option value="FDEPTH">Depth (FDEPTH)</option>
<option value="PUBACC">Public Access (PUBACC)</option>
<option value="GINIPT">GINI (GINIPT)</option>
<option value="ISHRAT">Income Share Ratio (ISHRAT)</option>
<option value="ENRPRI">Primary Net Enrollment (ENRPRI)</option>
<option value="ENRSEC">Lower Secondary Net Enrollment (ENRSEC)</option>
<option value="PUPTCH">Pupil to Teacher Ratio (PUPTCH)</option>
<option value="ATBRTH">Births Attended by Skilled Personnel (ATBRTH)</option>
<option value="DPTCOV">DPT Coverage (DPTCOV)</option>
<option value="PHYSPC">Physicians per 10,000 (PHYSPC)</option>
<option value="FAMPLN">Family Planning (FAMPLN)</option>
<option value="CSTUNT">Child Stunting (CSTUNT)</option>
<option value="AQELEC">Electricity (AQELEC)</option>
<option value="SANSRV">Sanitation (SANSRV)</option>
<option value="DRKWAT">Drinking Water (DRKWAT)</option>
<option value="INTRNT">Internet (INTRNT)</option>
<option value="TRNETW">Transport Network (TRNETW)</option>
<option value="RULELW">Rule of Law (RULELW)</option>
<option value="PUBSRV">Public Services (PUBSRV)</option>
<option value="EDEMOC">Democracy (EDEMOC)</option>
<option value="UNCONV">UN Conventions (UNCONV)</option>
<option value="GENDEQ">Gender Equality (GENDEQ)</option>
<option value="MURDER">Intentional Homicide (MURDER)</option>
<option value="CYBSEC">Cybersecurity (CYBSEC)</option>
<option value="SECAPP">Security (SECAPP)</option>
<option value="PRISON">Incarceration (PRISON)</option>
<option value="ARMEXP">Arms Exports (ARMEXP)</option>
<option value="MILEXP">Military Expenditure (MILEXP)</option>
<option value="RDFUND">R&D (RDFUND)</option>
<option value="FORAID">Foreign Aid (FORAID)</option>
