{% extends 'layout.html' %}

{% block title %}
<title> {{ IndicatorCode | upper }} Indicator Data </title>
{% endblock title %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
<script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'js/indicatorData.js') }} " defer></script>
{% endblock javascript %}

{% block content %}
<section class="hero-box">
    <select class="indicator-dropdown">
        {% include 'indicator-options.html' %}
    </select>
    <h1> {{ IndicatorCode | upper }} </h1>
    <script>
        const defaultOption = document.querySelector('select.indicator-dropdown option[value="{{IndicatorCode | upper}}"]')
        defaultOption.selected = true;
        document.querySelector('select.indicator-dropdown').addEventListener('change', function() {
            console.log(this.value)
            window.location.href = '/data/indicator/' + this.value;
        });
    </script>
</section>

<section class="chart-section" id="static-data-section">
    <h2> Static 2018 Data </h2>
    <canvas id="static-chart"></canvas>
    <fieldset>
        <legend> Chart Options </legend>
        Y-Axis Scale:
        <label class="switch">
            <input type="checkbox" id="static-axis-scale" name="static axis scale" value="Display Score">
            <span class="slider">Value/Score</span>
        </label>
        Sort By:
        <label class="switch">
            <input type="checkbox" id="static-sort-order" name="static sort order" value="Sort by Country">
            <span class="slider">Value/Country</span>
        </label>

    </fieldset>
</section>
<section class="chart-section" id="dynamic-data-section">
    <h2> Dynamic Data </h2>
    <canvas id="dynamic-chart"></canvas>
</section>
<script>
    window.addEventListener("load", (event) => {
        getStaticData("{{ IndicatorCode | upper }}").then(data => doChartUpdate(data, StaticChart));
        getDynamicData("{{ IndicatorCode | upper }}").then(data => doChartUpdate(data, DynamicChart));
    })
</script>
{% endblock content %}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SSPI Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/js/tabulator.min.js" integrity="sha512-BGo9xGWI32ZfTMp/ueR3fZKO5nYkPbt3uwMWr+w8w3e72H8A0sTQGO+iqRADwIT0eJkFP1HDgSC82gA4sTuQ6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/9.2.0/gridstack-all.min.js" integrity="sha512-8cEowOlapRVzH2aQzxdwsrOAyAhMuczMxtDRUMmUYtEiuqa9X232ABMgHyrO1xQMb85ADWTH7+Nie+J0eKgV6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/9.2.0/gridstack.min.css" integrity="sha512-c0A8wU7VMWZRt4qqDc+AxarWQ2XFsQcrJGABe1eyCNxNfj2AI4+YYTytjGlHdrSk7HxA4jHakbXLzw/O/W5WmA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/css/tabulator.min.css" integrity="sha512-j3rR7zfij45jvjB25No5oizV4tdpt6buwLrvfhXXboG+F88VMnvA4TsJpKgChHa156f+6gYk951Cv5pInltllQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% assets "home_script_bundle" %}
      <script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'script.js') }} " defer></script>
    {% endassets %}
    {% assets "home_style_bundle" %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('client_bp.static', filename = 'style.css') }} "/>
    {% endassets %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:wght@400;700&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
  </head>

  <body>
    {% include 'header.html' %}
      <div>
      <canvas id="myChart"></canvas>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['2000', '2006', '2011', '2017'],
            datasets: [{
              label: "BIODIV Score For Canada",
              data: [0.188745711, 0.225071385, 0.26451796800000005, 0.286257972],
              borderWidth: 1,
              backgroundColor: "#f38b4a",
              borderColor: "#f38b4a"
            }]
          },
          options: {
            scales: {
              y: {beginAtZero: true,
                ticks: {font: {
                  size: 14
                },
                color: "#ff6384"
                },
                grid: {color: "black"}
              },
              x: {ticks: {font: {
                size: 14
              },
              color: "#ff6384"
              },
              grid: {color: "black"}
              }
            }
          }
        });
      </script>
        <canvas id="izzy" width="800" height="600"></canvas>
    {% include 'footer.html' %}
  </body>
</html> -->
