<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block title %}{% endblock %}
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block stylesheet %}{% endblock %}
    {% assets "home_script_bundle" %}
      <script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'script.js') }} " defer></script>
    {% endassets %}
    {% assets "home_style_bundle" %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('client_bp.static', filename = 'style.css') }} "/>
    {% endassets %}
    {% block javascript %}{% endblock %}
  </head>

  <body>
    {% include 'header.html' %}
      {% block content %}{% endblock %}
    {% include 'footer.html' %}
  </body>
  
</html>

