<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SSPI</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% assets "home_script_bundle" %}
      <script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'script.js') }} " defer></script>
    {% endassets %}
    {% assets "home_style_bundle" %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('client_bp.static', filename = 'style.css') }} "/>
    {% endassets %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:wght@400;700&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
    <script src="//unpkg.com/d3"></script>
    <script src="//unpkg.com/globe.gl"></script>
  </head>

  <body>
    {% include 'header.html' %}
      {% block content %}{% endblock %}
    {% include 'footer.html' %}
  </body>
  
</html>

