{% extends 'layout.html' %}

{% block content %}
<section class="methodology-leader">
    <h2> Methodology</h2>

<p>The SSPI is calculated for forty-nine countries, which comprise the
Organisation for Economic Cooperation and Development (OECD), the Group
of Twenty (G20), plus another five countries classified as ‘High income’
(2018) by the World Bank 2018. These forty-nine countries include the
largest and the most industrialized economics, for which most of the
policy data are available and reliable. Collectively these countries
account for 90% of world GDP and approximately 67% of the world
population. They also account for the large majority of greenhouse gas
emissions.</p>

<p>Our research team relied upon a large body of literature that
described and analyzed the various policies and programs, and focused on
best practices across countries or in selected countries. We especially
relied upon the policies supporting the Sustainable Development Goals.
Although we cannot present the studies used in all the SSPI policies,
some of the data sources provide references to relevant studies. Some
examples of the studies we used in creating specific policy indicators
are: labor market policies and how they impact labor market operations
(Card and Oreopoulos 2019); policies to protect groundwater with
sustainable provision of water (GlobeScan 2019); and land management
policies for natural carbon sequestration in forests. (Ni et al
2016)</p>

<p>In selecting data to represent the policy indicators and then
aggregating them into a composite index, we followed the OECD
recommended practice (OECD 2008). The policy indicators were selected
based on data that are well-defined and reliable, plus made publicly
available over time. We only used data from credible organizations with
extensive data covering many countries. Objective administrative data is
selected over subjective survey data. In order to evaluate if two policy
variables represented the same information, and were thus
interchangeable, correlations of the variables were compared. When
indicators are highly correlated and thought to represent the same
information, then the indicator with more country observations or higher
quality data is used. We also used sensitivity testing to evaluate how
sensitive an indicator was to the use of different variables and their
aggregation into the relevant category.</p>

<p>In designing policy indicators, we opted for the most direct
measurement of policy for which reliable data were available for 2018.
Where possible, direct measurements of policy were used to create policy
indicators; examples include Biodiversity (the proportion of
ecologically important areas protected by law), Tax Revenue (the amount
of revenue raised as a percentage of GDP), and the government
expenditure component of Research and Development (the proportion of GDP
spent on government R&amp;D). Direct numerical measurements of policy
are possible only when governments control the level of a single
parameter that determines the strength of a policy.</p>

<p>Many of the policies needed to achieve sustainable and shared
prosperity are not so simple, however; some policy goals require a
multifaceted package of policies adapted to local circumstances and
constraints that work together to achieve the goal. In such situations,
we use outcome metrics to proxy for these packages of government
policies. For example, although Deforestation (percentage change in
forest covering from a 19901999 benchmark), Fatal Injuries (fatal
injuries per 10000 workers), and Primary School Net Enrollment
(percentage of children of primary school age enrolled in formal
education) are not specified directly by policy in the same way the
amount spent on government research is, government policy nevertheless
determines the levels of these variables, especially over the long run.
Thus, proxy measures acknowledge the variety and plurality of specific
policies, each adapted to a particular geographic, cultural, and
political context, that countries may pursue to achieve a universal
policy goal.</p>

<p>The Indicator Table describes the data used in constructing the three
Pillars. Public Goods is the broadest pillar and includes government
programs of the goods and services that are directly supplied by the
government. What unifies the Public Goods policies is that they are
largely under direct control of the national or regional government. The
Public Goods pillar includes six categories: Education, Health Care,
Infrastructure, Rights, Public Safety, and Global Role.</p>

<p>The Market Structure pillar brings together a wide array of policies
that regulate and structure how markets function. The supply side is
regulated through employment policies, taxation, and the protection of
property and competition rights. The demand side is supported by
economic security policies, with the financial system supporting the
effective operation of markets. The five Market Structure categories are
Employment, Economic Security, Taxation, Property, and Financial
System.</p>

<p>The policies in the Public Goods and Market Structure pillars do not
capture the responsibility that governments have to protect the
environment for people today and for future generations, which explains
the role of the Sustainability pillar. The Sustainability policies
relate to the management and direct use of existing natural resources
and the externalities resulting from degradation of the country’s
natural capital. A company’s production decisions are based on its
costs, which typically do not include external costs related to public
health or environmental deterioration. The public ends up paying the
external costs of production through worsened health or a degraded
environment. Sustainability policies measure the extent to which
governments have policies in place to care for the environment. The
pillar includes five categories: Ecosystems, Land, Energy, Greenhouse
Gases, and Waste.</p>

<p>The Pillars and Categories should be thought of as systems of
policies that operate together, rather than as individual policies that
can be analyzed separately. For example, many types of policies affect
how markets operate, or the health of the environment, or the quality of
life. The goal is to have policies that influence the quality of life
and the environment within the overall socioeconomic system. For
example, the Infrastructure category brings together a wide range of
policies that together support daily activities in a community and also
impact the environment. Infrastructure policies include access to
electricity, water quality, basic sanitation, internet access, and
transportation network, with the infrastructure commonly built by
governments and service either directly provided by the government or
regulated through private companies.</p>

<p>All indicators are set up so that a higher score represents a policy
oriented toward a superior outcome. Each policy indicator is normalized
to a value between 0 and 1, so that the widely varying data are
expressed in comparable units across all indicators. Indicators are
normalized based upon lower and upper goalposts, which represent the
hypothetical minimum and hypothetical maximum for the policy variable,
using the following</p>

<p>Our steps for calculating scores for each indicator aligns with the
same methodology of goalposting for the Human Development Index. The HDR
2020 technical explains how these “dimension indices” (our equivalent of
indicator scores) are normalized to values between 0 and 1, and these
minimum and maximum goalposts are set according to both historical
evidence and achievability.</p>

<p>Setting the goalposts of a specific indicator shifts the center and
controls the spread of its score distribution while preserving the ranks
in the observed data. When possible, we used internationally established
norms as goalposts for policies, such as those in the 2022 Sustainable
Development Report (Sachs et al 2022). For policy indicators without an
established norm, the historical values observed across countries are
used as a guide for what is possible for high performers while allowing
for continued improvement in future years, and also to benchmark low
performance. We used sensitivity testing of the goalposts of a specific
indicator to evaluate the distribution and outliers across countries,
and used the observed high values as a benchmark of what good policy can
achieve as the upper goalpost. A few very high scores were determined to
reflect noise, and the scores were capped at the upper goalpost. Setting
the lower goalpost too low can penalize countries with insufficient
resources or characteristics, such as geography or culture, that may
constrain policy. Therefore some of our selected lower goalposts cap the
observed values at the lower goalpost, both to minimize noise and to
reflect a reasonable lower benchmark for weak country policies.</p>

<p>For example, for the policy to protect biodiversity, benchmarks can
be drawn from environmental science. We know that to protect the
planet’s ecosystems, nations must quit causing extinction and preserve
species to maintain their biodiversity. The percentage of important
sites covered by protected areas ranges from 0 to 100, with the range
given as a percentage of internationally known sites. The maximum
observed value is 96.9%, so it is reasonable to expect a maximum of
100%, since ideally we would want a country’s policy to protect known
important sites.</p>

<p>A more complex example is provided by creating goalposts for policies
relating to carbon sequestration. We do not know the maximum amount of
carbon that could be sequestered because it varies widely by country and
relevant data across countries are sparse. Without clear benchmarks
across countries, we rely upon the data, including country land
characteristics and historical trends, to guide us in setting goalposts
for what a good policy can achieve.</p>

<p>Historical trends of the percentage change in how land is allocated
for a particular purpose provides an observable benchmark over time of
how well the land use management is doing in achieving specific goals.
In the case of carbon sequestration, we rank country policy based on
carbon density, i.e., the ratio of carbon stock in living biomass over
forest land (hectares) in 2018 compared to the 1990s average, when
deforestation became noticeable. Higher (positive) values indicate that
a country is prioritizing and allocating land to forests that are
sequestering carbon. This method uses the country’s existing land
characteristics for the benchmark, rather than using a universal
benchmark for how good a country’s land use should be. The indicator for
deforestation follows a similar rationale, and we use data on how well
the country has maintained or increased forest coverage over time: the
ratio of naturally regenerating forests in 2018 compared to the 1990s
average.</p>

<p>Both extremely high and low outliers are censored and assigned the
lower or upper goalpost value. Our approach is similar to the approach
used by the SDG Index in setting upper targets based on known goals or
science, and otherwise based on the average of top performers; and in
setting lower targets at the 2.5th percentile of the distribution. Each
SDG indicator distribution is censored, with values exceeding the upper
bound scored 100, and values below the lower bound scored 0.14.</p>
<p>The SSPI, Category and Pillar scores are aggregated using the
arithmetic mean with equal weighting within each category and within
each pillar. Our starting position was to use equal weights to calculate
the mean because it is widely used and because it attenuates bias and
arbitrariness. Using equal weights implies all policy indicators are
equally important within a category, all categories are equally
important within a pillar, and the three pillars are equally important
within the SSPI. This reflects our assumption that the SSPI integrates a
system of interrelated and indivisible set of policies that are equally
important. The SDG Index also treats each SDG equally and uses fixed
equal weights in aggregating the SDGs.15 We conducted sensitivity tests
on the weights used at two levels of aggregation—pillars and categories.
For alternative weighting schemes, including unequal weights or
geometric average, the rankings of countries were compared to the
rankings achieved under equal weighting. The robustness tests indicated
that there is little difference in country rankings or scores between
scenarios using geometric and simple averages.</p>

<p>The SSPI is calculated for forty-nine countries, which comprise the
Organisation for Economic Cooperation and Development (OECD), the Group
of Twenty (G20), plus another five countries classified as ‘High income’
(2018) by the World Bank 2018. These forty-nine countries include the
largest and the most industrialized economics, for which most of the
policy data are available and reliable. Collectively these countries
account for 90% of world GDP and approximately 67% of the world
population. They also account for the large majority of greenhouse gas
emissions.</p>

<p>Our research team relied upon a large body of literature that
described and analyzed the various policies and programs, and focused on
best practices across countries or in selected countries. We especially
relied upon the policies supporting the Sustainable Development Goals.
Although we cannot present the studies used in all the SSPI policies,
some of the data sources provide references to relevant studies. Some
examples of the studies we used in creating specific policy indicators
are: labor market policies and how they impact labor market operations
(Card and Oreopoulos 2019); policies to protect groundwater with
sustainable provision of water (GlobeScan 2019); and land management
policies for natural carbon sequestration in forests. (Ni et al
2016)</p>

<p>In selecting data to represent the policy indicators and then
aggregating them into a composite index, we followed the OECD
recommended practice (OECD 2008). The policy indicators were selected
based on data that are well-defined and reliable, plus made publicly
available over time. We only used data from credible organizations with
extensive data covering many countries. Objective administrative data is
selected over subjective survey data. In order to evaluate if two policy
variables represented the same information, and were thus
interchangeable, correlations of the variables were compared. When
indicators are highly correlated and thought to represent the same
information, then the indicator with more country observations or higher
quality data is used. We also used sensitivity testing to evaluate how
sensitive an indicator was to the use of different variables and their
aggregation into the relevant category.</p>

<p>In designing policy indicators, we opted for the most direct
measurement of policy for which reliable data were available for 2018.
Where possible, direct measurements of policy were used to create policy
indicators; examples include Biodiversity (the proportion of
ecologically important areas protected by law), Tax Revenue (the amount
of revenue raised as a percentage of GDP), and the government
expenditure component of Research and Development (the proportion of GDP
spent on government R&amp;D). Direct numerical measurements of policy
are possible only when governments control the level of a single
parameter that determines the strength of a policy.</p>

<p>Many of the policies needed to achieve sustainable and shared
prosperity are not so simple, however; some policy goals require a
multifaceted package of policies adapted to local circumstances and
constraints that work together to achieve the goal. In such situations,
we use outcome metrics to proxy for these packages of government
policies. For example, although Deforestation (percentage change in
forest covering from a 19901999 benchmark), Fatal Injuries (fatal
injuries per 10000 workers), and Primary School Net Enrollment
(percentage of children of primary school age enrolled in formal
education) are not specified directly by policy in the same way the
amount spent on government research is, government policy nevertheless
determines the levels of these variables, especially over the long run.
Thus, proxy measures acknowledge the variety and plurality of specific
policies, each adapted to a particular geographic, cultural, and
political context, that countries may pursue to achieve a universal
policy goal.</p>

<p>The Indicator Table describes the data used in constructing the three
Pillars. Public Goods is the broadest pillar and includes government
programs of the goods and services that are directly supplied by the
government. What unifies the Public Goods policies is that they are
largely under direct control of the national or regional government. The
Public Goods pillar includes six categories: Education, Health Care,
Infrastructure, Rights, Public Safety, and Global Role.</p>

<p>The Market Structure pillar brings together a wide array of policies
that regulate and structure how markets function. The supply side is
regulated through employment policies, taxation, and the protection of
property and competition rights. The demand side is supported by
economic security policies, with the financial system supporting the
effective operation of markets. The five Market Structure categories are
Employment, Economic Security, Taxation, Property, and Financial
System.</p>

<p>The policies in the Public Goods and Market Structure pillars do not
capture the responsibility that governments have to protect the
environment for people today and for future generations, which explains
the role of the Sustainability pillar. The Sustainability policies
relate to the management and direct use of existing natural resources
and the externalities resulting from degradation of the country’s
natural capital. A company’s production decisions are based on its
costs, which typically do not include external costs related to public
health or environmental deterioration. The public ends up paying the
external costs of production through worsened health or a degraded
environment. Sustainability policies measure the extent to which
governments have policies in place to care for the environment. The
pillar includes five categories: Ecosystems, Land, Energy, Greenhouse
Gases, and Waste.</p>

<p>The Pillars and Categories should be thought of as systems of
policies that operate together, rather than as individual policies that
can be analyzed separately. For example, many types of policies affect
how markets operate, or the health of the environment, or the quality of
life. The goal is to have policies that influence the quality of life
and the environment within the overall socioeconomic system. For
example, the Infrastructure category brings together a wide range of
policies that together support daily activities in a community and also
impact the environment. Infrastructure policies include access to
electricity, water quality, basic sanitation, internet access, and
transportation network, with the infrastructure commonly built by
governments and service either directly provided by the government or
regulated through private companies.</p>

<p>All indicators are set up so that a higher score represents a policy
oriented toward a superior outcome. Each policy indicator is normalized
to a value between 0 and 1, so that the widely varying data are
expressed in comparable units across all indicators. Indicators are
normalized based upon lower and upper goalposts, which represent the
hypothetical minimum and hypothetical maximum for the policy variable,
using the following</p>

<p>Our steps for calculating scores for each indicator aligns with the
same methodology of goalposting for the Human Development Index. The HDR
2020 technical explains how these “dimension indices” (our equivalent of
indicator scores) are normalized to values between 0 and 1, and these
minimum and maximum goalposts are set according to both historical
evidence and achievability.</p>

<p>Setting the goalposts of a specific indicator shifts the center and
controls the spread of its score distribution while preserving the ranks
in the observed data. When possible, we used internationally established
norms as goalposts for policies, such as those in the 2022 Sustainable
Development Report (Sachs et al 2022). For policy indicators without an
established norm, the historical values observed across countries are
used as a guide for what is possible for high performers while allowing
for continued improvement in future years, and also to benchmark low
performance. We used sensitivity testing of the goalposts of a specific
indicator to evaluate the distribution and outliers across countries,
and used the observed high values as a benchmark of what good policy can
achieve as the upper goalpost. A few very high scores were determined to
reflect noise, and the scores were capped at the upper goalpost. Setting
the lower goalpost too low can penalize countries with insufficient
resources or characteristics, such as geography or culture, that may
constrain policy. Therefore some of our selected lower goalposts cap the
observed values at the lower goalpost, both to minimize noise and to
reflect a reasonable lower benchmark for weak country policies.</p>

<p>For example, for the policy to protect biodiversity, benchmarks can
be drawn from environmental science. We know that to protect the
planet’s ecosystems, nations must quit causing extinction and preserve
species to maintain their biodiversity. The percentage of important
sites covered by protected areas ranges from 0 to 100, with the range
given as a percentage of internationally known sites. The maximum
observed value is 96.9%, so it is reasonable to expect a maximum of
100%, since ideally we would want a country’s policy to protect known
important sites.</p>

<p>A more complex example is provided by creating goalposts for policies
relating to carbon sequestration. We do not know the maximum amount of
carbon that could be sequestered because it varies widely by country and
relevant data across countries are sparse. Without clear benchmarks
across countries, we rely upon the data, including country land
characteristics and historical trends, to guide us in setting goalposts
for what a good policy can achieve.</p>

<p>Historical trends of the percentage change in how land is allocated
for a particular purpose provides an observable benchmark over time of
how well the land use management is doing in achieving specific goals.
In the case of carbon sequestration, we rank country policy based on
carbon density, i.e., the ratio of carbon stock in living biomass over
forest land (hectares) in 2018 compared to the 1990s average, when
deforestation became noticeable. Higher (positive) values indicate that
a country is prioritizing and allocating land to forests that are
sequestering carbon. This method uses the country’s existing land
characteristics for the benchmark, rather than using a universal
benchmark for how good a country’s land use should be. The indicator for
deforestation follows a similar rationale, and we use data on how well
the country has maintained or increased forest coverage over time: the
ratio of naturally regenerating forests in 2018 compared to the 1990s
average.</p>

<p>Both extremely high and low outliers are censored and assigned the
lower or upper goalpost value. Our approach is similar to the approach
used by the SDG Index in setting upper targets based on known goals or
science, and otherwise based on the average of top performers; and in
setting lower targets at the 2.5th percentile of the distribution. Each
SDG indicator distribution is censored, with values exceeding the upper
bound scored 100, and values below the lower bound scored 0.14.</p>

<p>The SSPI, Category and Pillar scores are aggregated using the
arithmetic mean with equal weighting within each category and within
each pillar. Our starting position was to use equal weights to calculate
the mean because it is widely used and because it attenuates bias and
arbitrariness. Using equal weights implies all policy indicators are
equally important within a category, all categories are equally
important within a pillar, and the three pillars are equally important
within the SSPI. This reflects our assumption that the SSPI integrates a
system of interrelated and indivisible set of policies that are equally
important. The SDG Index also treats each SDG equally and uses fixed
equal weights in aggregating the SDGs.15 We conducted sensitivity tests
on the weights used at two levels of aggregation—pillars and categories.
For alternative weighting schemes, including unequal weights or
geometric average, the rankings of countries were compared to the
rankings achieved under equal weighting. The robustness tests indicated
that there is little difference in country rankings or scores between
scenarios using geometric and simple averages.</p>
</section>


<h2>Indicator Table</h2>
    <div id="methodology-indicator-table"></div>

{% endblock %}
