{% extends 'layout.html' %}

{% block title %}
<title> Item Panel Data </title>
{% endblock title %}

{% block content %}

{% for item_id in panel_id_list %}
<section class="chart-section" id="{{ item_id }}"></section>
{% endfor %}

<script>
    window.observableStorage = new ObservableStorage();
    window.addEventListener("load", (event) => {
        window.SSPICharts = [
            {% for item_id in panel_id_list %}
                new ItemPanelChart(document.getElementById("{{ item_id }}"), { endpointURL: "/api/v1/panel/item/{{ item_id }}" }),
            {% endfor %}
        ];
        const x = localStorage.getItem('windowX');
        const y = localStorage.getItem('windowY');
        
        if (x !== null && y !== null) {
          window.moveTo(parseInt(x), parseInt(y));
        }
    })
    window.addEventListener('beforeunload', () => {
      localStorage.setItem('windowX', window.screenX);
      localStorage.setItem('windowY', window.screenY);
    });
</script>
{% endblock content %}
