{% extends 'layout.html' %}

{% block title %}
<title>SSPI Scores</title>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
<script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'charts/score-bar-static.js') }}"></script>
<script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'js/colorMap.js') }}"></script>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('client_bp.static', filename = 'css/score-bar.css') }}"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:wght@400;700&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <section id="sspi-score-bar-parent" class="score-bar-parent"></section>
    <section id="sus-score-bar-parent" class="score-bar-parent"></section>
    <section id="ms-score-bar-parent" class="score-bar-parent"></section>
    <section id="pg-score-bar-parent" class="score-bar-parent"></section>
    <script defer>
        const scoreBarSSPIParent = document.getElementById('sspi-score-bar-parent');
        const scoreBarSUSParent = document.getElementById('sus-score-bar-parent');
        const scoreBarMSParent = document.getElementById('ms-score-bar-parent');
        const scoreBarPGParent = document.getElementById('pg-score-bar-parent');
        window.scoreBarSSPI = new ScoreBarStatic(scoreBarSSPIParent, "SSPI");
        window.scoreBarSUS = new ScoreBarStatic(scoreBarSUSParent, "SUS", SSPIColors.SUS);
        window.scoreBarMS = new ScoreBarStatic(scoreBarMSParent, "MS", SSPIColors.MS);
        window.scoreBarPG = new ScoreBarStatic(scoreBarPGParent, "PG", SSPIColors.PG);
    </script>
{% endblock %}
