<div class="static-subheader-bar">
    <h2 class="static-subheader-title"><a class="static-subheader-title-link" href="/2018">SSPI 2018 Static Data</a></h2>
    <p class="static-subheader-tooltip">
        <b> Note:</b> The SSPI 2018 Data is presented and analyzed 
        in the working paper "National Policies to Support Sustainable, 
        Equitable Economies." This initial version of the SSPI differs 
        in indicator definitions, category composition, year coverage, 
        and country coverage from the current version of the SSPI 
        presented on the main page of the site. Use caution when 
        comparing values across these datasets.
    </p>
    <nav class="static-nav-subheader">
        <a class="static-nav-subheader-link" target="_self" href="/2018/indicators">Indicators</a>
        <a class="static-nav-subheader-link" target="_self" href="/2018/scores">Data</a>
        <a class="static-nav-subheader-link" target="_self" href="/2018/methodology">Methodology</a>
        <a class="static-nav-subheader-link" target="_self" href="/2018/compare">Compare Countries</a>
        <a class="static-nav-subheader-link" target="_self" href="/2018/outcome">Outcome Variable Regressions</a>
    </nav>
</div>
