<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="icon-menu" viewBox="0 0 24 24">
    <line x1="4" y1="6" x2="20" y2="6" />
    <line x1="4" y1="12" x2="20" y2="12" />
    <line x1="4" y1="18" x2="20" y2="18" />
  </symbol>
  <symbol id="icon-close" viewBox="0 0 24 24">
    <line x1="6" y1="6" x2="18" y2="18" />
    <line x1="6" y1="18" x2="18" y2="6" />
  </symbol>
  <symbol id="icon-open-arrow-left" viewBox="0 0 24 24">
    <line x1="6" y1="6" x2="18" y2="12" />
    <line x1="6" y1="18" x2="18" y2="12" />
  </symbol>
  <symbol id="icon-open-arrow-right" viewBox="0 0 24 24">
    <line x1="6" y1="12" x2="18" y2="6" />
    <line x1="6" y1="12" x2="18" y2="18" />
  </symbol>
  <!-- add more symbols here -->
</svg>
