.radar-chart-flex-outer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--box-background-color);
  border-radius: var(--border-radius-lg);
  margin-bottom: 2em;
  border: 1px solid var(--border-color);
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.radar-chart-flex-outer-container div {
  flex: 1 1 0;
}

.comparison-static-pillar-section {
  background-color: var(--box-background-color);
  border: 1px solid var(--border-color);
  padding: 1em;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-radius: var(--border-radius-lg);
}

.pillar-diff-window {
  padding: 0.5em;
  box-sizing: border-box;
}
