.data-dashboard-section {
    padding: 2em 3em;
}

.widget-add-flex {
    display: flex;
}
.widget-type-options-menu {
    display: flex;
    color: --text-color;
    button {
        margin: 0em 1em;
    }
}


// .widget-canvas {
//     display: grid;
//     align-items: center;
//     justify-items: center;
//     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
//     grid-gap: 1rem;
//     overflow: hidden;
// }
