.indicator-dropdown {
    color: --text-color;
    padding: 0.5em;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.65em;
}

#dynamic-indicator-description {
    font-size: 0.8em;
}

.chart-section { 
    padding: 60px;
    max-width: 1000px;
}

.chart-section-title {
    font-size: 0.95em;
    margin-bottom: 0.5em;
}

.chart-section-title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3em;
}

.chart-section-title-bar button {
    font-size: 0.65em;
}

#country-group-selector-container {
  --num-options: 6;
  --selected-index: 0;
  --option-width: calc(100% / var(--num-options));
  display: flex;
  position: relative;
  margin: 5px auto;
  background: var(--header-color, #000);
  border-radius: 5px;
  font-size: 0.65em;
  overflow: hidden;
}

#country-group-selector-container input[type="radio"] {
  display: none;
}

#country-group-selector-container label {
  flex: 1;
  text-align: center;
  padding: 0 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
  color: #ccc;
}

#country-group-selector-container label:hover {
  color: var(--green-accent, #000);
}

#country-group-selector-container input[type="radio"]:checked + label {
  color: var(--text-color, #000);
}

#country-group-selector-container .slider {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: var(--option-width);
  height: 100%;
  background: var(--green-accent, #000);
  transition: transform 0.3s ease;
  z-index: 0;
  transform: translateX(calc(var(--selected-index) * 100% ));
}

.legend-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.legend-title-bar-buttons {
  font-size: 0.65em;
  padding: 0 0.5em;
}

.panel-legend-item-country-code {
  padding-left: 0.2em;
}

.legend-title {
  font-size: 0.9em;
  margin: 0;
  padding: 0.1em 0;
}

.legend-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.legend-item {
  font-size: 0.70em;
  background-color: var(--header-color, #000);
  padding: 0.2em;
  border-radius: 20px;
  margin: 0.7em 0.3em;
}

.add-country-pin-results-window {
  position: relative;
  display: flex;
  font-size: 0.7em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 300px;
  align-items: center;
}

.add-country-pin-result:hover {
  background-color: var(--green-accent, #000);
  height: auto;
  border-radius: 5px;
}

.title-bar-label {
  font-size: 0.8em;
  margin: 0;
  padding: 0.1em 0;
}

.item-panel-info-box {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  background-color: var(--header-color, #000);
  padding: 0.5em;
}

.item-panel-info-box-list {
  font-size: 0.8em;
  list-style-type: none;
  line-height: 1.5em;
}

.item-panel-info-box-value {
  color: var(--green-accent, #000);
  padding-left: 0.3em;
}
