.score-bar-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
}

.chart-container-bar-score-static {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.score-bar-overall-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.score-bar-pillar-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.score-bar-summary-box {
    margin-top: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.25em 2em;
    background-color: #1B2A3C;
    border-radius: 5px;
}

.score-bar-summary-stat {
    padding: 0 1em;
}
