<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {{ idcode | upper }} Dynamic Line </title>
    <script>
        window.theme = localStorage.getItem("theme")
        if (window.theme === "light") {
            document.documentElement.classList.add("light-theme")
            localStorage.setItem("theme", "light")
        } else {
            document.documentElement.classList.add("dark-theme")
            localStorage.setItem("theme", "dark")
        }
    </script>
    <script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('client_bp.static', filename = 'style.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:wght@400;700&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
  </head>

  <body>
      <main>
        <section class="headless-chart-section" id="dynamic-data-section"></section>
        <p id="dynamic-indicator-description"></p>
        <script>
                window.addEventListener("load", (event) => {
                    window.SSPICharts = [
                        new DynamicLineChart(document.getElementById("dynamic-data-section"), "{{ idcode | upper }}"),
                    ]
                })
        </script>
      </main>
  </body>
</html>
