{% extends 'layout.html' %}

{% block stylesheet %}
{% endblock %}

{% block content %}
<div class="customizable-sspi" id="sspi-root"></div>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const root = document.getElementById('sspi-root');
    window.SSPICharts.push(
        new CustomizableSSPIStructure(root)
    );
});
</script>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
<script src="{{ url_for('client_bp.static', filename='charts/components/changes-history-modal.js') }}"></script>
{% endblock %}
