{% extends 'layout.html' %}

{% block stylesheet %}
{% endblock %}

{% block content %}
<article class="page-content">
    <section class="page-section">
        <div class="content-container">
            <div class="customization-home-box">
                <h2>How would you measure policy according to your values?</h2>
                <p> The SSPI methodology puts shared values first, then
                    measures how well policy across countries aligns with those
                    values. In foregrounding values, however, we recognize
                    that different people, different communities, different
                    countries, and different cultures have different values, so 
                    they may evaluate policy differently than we do.
                </p>
                <p> Our customization tool provides a framework for applying the 
                    SSPI methodology beginning from your own values. It allows 
                    individuals to modify how policies are scored and grouped 
                    and to explore how those changes affect the scores and 
                    conclusions at all levels of the analysis.
                </p>
                <h2>Using the Customization Tool</h2>
                <p> The customization tool allows you to modify the 
                    the organization and scoring of the SSPI and to see
                    how those changes affect the overall scores. Use the tool to:
                    <ul>
                        <li>
                            Adjust how indicators are scored by adjusting their
                            underlying datasets, the numerical values of
                            Goalposts, and the functional form of the Score
                            Function for each indicator.
                        </li>
                        <li>
                            Create custom policy indicators with access to the
                            full database of underlying datasets prepared for
                            the SSPI, or with your own custom data uploaded
                            through the data upload portal.
                        </li>
                        <li> 
                            Change how indicators, categories, and pillars are 
                            grouped, scored, and named to create your own custom,
                            data-driven policy index.
                        </li>
                        <li> 
                            Compare your each of your changes <i>ceteris paribus</i> 
                            with the canonical SSPI to explore how differences in 
                            values change the conclusions about the quality of national
                            policies.
                        </li>
                        <li> 
                            Save and share your customized configuration of the SSPI,
                            its scores, and the summary report.
                        </li>
                    </ul>

                </p>
                <p> To generate custom scores, we require that you create a
                    free account for saving your configuration and protecting 
                    our API. Scoring is a computationally intensive operation
                    involving large volumes of data; we therefore limit the
                    number of score requests you can make to ten per day.
                </p>
            </div>
        </div>
    </section>
</article>
{% endblock %}

{% block javascript %}
{% endblock %}
