/* Country Data Page Styles */

.country-overview-box {
  width: 100%;
  background-color: var(--box-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-md);
  padding: 1.25rem;
  box-sizing: border-box;
  margin-bottom: 2em;
}

.country-overview-box p {
  color: var(--low-importance-font-color);
  font-family: var(--body-font-family);
}


.country-header {
  margin-bottom: 1rem;
}

.country-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
  color: var(--header-font-color);
  font-family: var(--header-font-family);
}

.country-pillar-chart-container {
  margin-top: 1rem;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .country-overview-box {
    padding: 1rem;
  }

  .country-title {
    font-size: 1.3rem;
  }
}
