.hero-box {
    background-color: var(--header-color, #000);
    color: rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 1em;
    padding: 1em;
}
.hero-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-datalink {
    color: rgb(0, 221, 255);
    margin-left: 1rem;
    font-weight: 600;
}

.hero-textbox {
    z-index: 1;
    max-width: 75ch;
}
