.radar-chart-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  padding: 0.5em 0.25em 0.5em 0.75em ;
}

.radar-chart-title {
  font-family: var(--heading-font-family);
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.radar-chart-canvas-container {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radar-chart-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.radar-chart-legend-box {
  flex: 0.3 0 100px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radar-chart-legend-item {
  max-height: 50px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.radar-chart-legend-canvas-container {
  flex: 0 0 100px;
  min-width: 100px;
  max-width: 100px;
}

.radar-chart-legend-item-canvas {
  display: block;
}

.radar-chart-legend-item-text {
  flex: 0 0 auto;
  font-family: var(--body-font-family);
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap;
}

