hr {
  margin-top: 4em;
}
.methodology-section {
  margin: 3em;
  font-size: 0.8em;
}

.methodology-section h3 {
  font-size: 1.25em;
}

.methodology-section h4 {
  font-size: 1.05em;
}

.methodology-wrapper p {
  max-width: 80ch;
}

.item-coverage-summary-color-block {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.item-coverage-summary-line {
  display: flex;
  align-items: left;
  margin-bottom: 0.15em;
  flex-directino: row;
  align-items: center;
}

.item-coverage-summary-country {
  margin-right: 0.5em;
  border-radius: 3px;
}
.coverage-summary-color-0 {
  background-color: rgba(0, 200, 0, 0.2);
  border: 1.5px solid rgba(0, 200, 0, 1);
}

.coverage-summary-color-1 {
  background-color: rgba(200, 200, 0, 0.2);
  border: 1.5px solid rgba(200, 200, 0, 1);
}

.coverage-summary-color-2 {
  background-color: rgba(200, 0, 0, 0.2);
  border: 1.5px solid rgba(200, 0, 0, 1);
}
.coverage-summary-color-3 {
  border: 0.5px solid rgba(200, 200, 200, 1);
}
