.panel-chart-root-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  min-height: clamp(600px, 80vh, 80vh);
}

.panel-canvas-wrapper {
  padding: 0.5em;
  position: relative;
  width: 100%;
  flex: 2 1 0;
}

.chart-options-wrapper {
  position: relative;
}

.show-chart-options {
  all: unset;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-align: center;
  justify-content: center;
  padding: 0.5em;
  top: 0.5em;
  right: 0.5em;
  z-index: 2;
}

.show-chart-options-svg {
  margin: auto;
  stroke: var(--text-color, #CCCCCC);
  fill: none;
}

.show-chart-options:hover {
  background-color: var(--green-accent, #8BA342);
}

.chart-options {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  border-radius: 5px;
  background-color: var(--header-color, #000);
  border: var(--theme-border-thick, none);
  color: var(--header-text-color, #fff);
  overflow-y: scroll;
  max-height: 80vh;
  min-width: clamp(250px, 20vw, 20vw);
  z-index: 3;
}

.chart-options-overlay.inactive {
  display: none;
  position: absolute;
  inset: 0;
}

.chart-options-overlay.active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: 2;
}

.chart-options.inactive {
  transform: translateX(150%);
}

.chart-options.active {
  transform: translateX(0);
}

@media (min-width: 1000px) {
  /* Only Show Sidebar on large enough desktops */
  .panel-canvas-wrapper {
    max-width: 75vw;
  }

  .chart-options-wrapper {
    display: inline-block;
    flex: 0.5 2 0;
    max-width: 20vw;
  }
  .chart-options {
    position: relative;
    transform: translateX(0);
    min-width: 15vw;
  }
  .show-chart-options {
    display: none;
  }
  /* Show chart options by default on larger screens */
  .chart-options.inactive {
    transform: translateX(0%);
  }
  .hide-chart-options {
    display: none;
  }
  .chart-options-overlay.active {
    display: none;
  }
}

.chart-options-details {
  font-size: 0.70em;
  font-family: var(--header-font-family);
}

.chart-options-details {
  font-size: 0.70em;
  font-family: var(--header-font-family);
}

.dynamic-item-description {
  font-size: 0.9em;
  line-height: 1.25;
  padding: 0.5em 0;
}

.legend-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.legend-title-bar-buttons {
  font-size: 0.65em;
  padding: 0 0.5em;
}

.panel-legend-item-country-code {
  padding-left: 0.2em;
}

.legend-title {
  font-size: 0.9em;
  margin: 0;
  padding: 0.1em 0;
}

.legend-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.legend-item {
  font-size: 0.70em;
  background-color: var(--header-color, #000);
  padding: 0.3em 0.6em;
  border-radius: 20px;
  margin: 0.2em;
}

.add-country-pin-results-window {
  position: relative;
  display: flex;
  font-size: 0.7em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 300px;
  align-items: center;
}

.add-country-pin-result:hover {
  background-color: var(--green-accent, #000);
  height: auto;
  border-radius: 5px;
}

.title-bar-label {
  font-size: 0.8em;
  margin: 0;
  padding: 0.1em 0;
}
