$accent-color: rgb(41, 75, 80);
$white: rgb(226, 226, 226);
$grey: rgba(184, 188, 190, 1);
$black: rgb(42, 41, 43);

html {
    font-size: 16pt;
}
body {
    margin: 0;
    color: $black;
    background-color: $white;
    line-height: 1.25em;
}

h1 {
    font-family: 'REM', sans-serif;
    font-weight:600;
    font-size: 1.4em;
}

h2 {
    font-family: 'Libra Baskerville', serif;
    font-weight: 600;
    font-size: 1.2em;
}