$accent-color: rgb(41, 75, 80);
$white: rgb(238, 238, 238);
$grey: rgba(184, 188, 190, 1);
$black: rgb(42, 41, 43);
$hover: rgb(255, 102, 0);

.site-footer {
    background-color: $accent-color;
    color: $white;
    padding: 20px 50px;
}

.footer-col-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-title {
    font-size: 1.4em;
}

.footer-col-title {
    font-size: 1.1em;
    margin: 0;
}

.footer-col-list {
    list-style: none;
    margin: 0;
    padding-left: 15px;
}

.footer-link:hover {
    color: hover;
}

#admin-login {
    margin: 5px 0px;
    text-decoration: none;
    color: white;
}

#admin-login:hover {
    transform: scale(1.01);
    transition: 0.1s ease;
}