// Import variables from variables.scss
@import "variables";

body {
    margin: 0;
}

.site-header {
    display: flex;
    padding: 10px 50px 5px;
    flex-direction: column;
    align-items: center;
    background-color: $home-page-color;
}

.titlebox{
    display: flex;
    width: 100%;
    font-size: 1.618em;
    flex-direction: row;
    color:white;
    text-decoration: none;
    align-items: flex-start;
}

.header-nav-bar {
    position: relative;
    width: 100%;
}

.header-nav-bar-link-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header-nav-bar-link {
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.title-subdiv {
    flex: 0 1 min-content;
    transition: all 0.25s linear;
    align-self: flex-start;
    white-space: nowrap;
}

.title-collapse {
    flex: 0 1 auto;
    opacity: 1;
    width: min-content;
    margin-right: 5px;
    transition: all 0.25s linear;
}

@media screen and (max-width: 600px) {
    .site-header {
        flex-direction: row;
    }
    .header-nav-bar-link {
        margin: 5px;
    }
    .header-nav-bar-link-list {
        display: block;
    }
    .title-subdiv {
        flex: 0 1 min-content;
        transition: all 0.25s linear;
    }
    .titlebox {
        width: 70%;
    }
    .title-collapse {
        opacity: 0.1;
        flex: 0.0001;
        overflow: hidden;
        margin-right: 0;
        transition: all 0.25s ease;
    }
}