// Import variables from variables.scss
@import "variables";

body {
    margin: 0;
}

.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $home-page-color;
}

.titlebox{
    display: flex;
    flex-direction: horizontal;
    color:white;
    text-decoration: none;
}
.site-title {
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    font-size: 1.618em;
    a, .titlebox {
        color: white;
        text-decoration: none;
    }
}

.titlebox {
    color: white;
}

.header-nav-bar {
    position: relative;
    width: 100%;
}
.header-nav-bar-link-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header-nav-bar-link {
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.title-subdiv {
    flex-grow: 1;
}
.title-collapse {
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .header-nav-bar-link {
        color: red;
    }
    .header-nav-bar-link-list {
        display: none;
    }
    .title-collapse {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        width:1px;
        transition: width 0.25s ease 0.25s;
        margin-right:0;
    }
}