html, body, canvas, div {
  margin: 0;
}

html {
  font-size: 16pt;
}

body {
  color: var(--text-color, #000);
  background-color: var(--page-background, #000);
  line-height: 1.4rem;
  overflow-x: hidden;
}

main {
  padding: 1em 3vw;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.15em 0;
}

h1 {
  font-family: var(--title-font-family, 'REM', sans-serif);
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.2rem;
}

h2 {
  font-family: var(--header-font-family, 'Helvetica', sans-serif);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h3 {
  font-family: var(--header-font-family, 'Helvetica', sans-serif);
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 2.3rem;

}

h4 {
  font-family: var(--body-font-family, 'Libra Baskerville', serif);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2.35rem;
}

h5 {
  font-family: var(--body-font-family, 'Libra Baskerville', serif);
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

h6 {
  font-family: var(--body-font-family, 'Libra Baskerville', serif);
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  color: var(--green-accent, green);
}
