.score-bar-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
}

.chart-container-bar-score-static {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.score-bar-overall-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.score-bar-pillar-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
