.light-theme {
    --accent-color-1: rgb(41, 75, 80);
    --link-color: rgb(0, 221, 255);
    --header-color: #1B2A3C;
    --header-text-color: #F5F5F5;
    --page-background: #F5F5F5;
    --green-accent: #AECC53;
    --grey: rgba(184, 188, 190, 1);
    --text-color: #0A0A0A;
    --low-importance-font-color: rgba(184, 188, 190, 1);
    --mobile-break-width: 1135px;
}

.dark-theme {
    --accent-color: rgb(41, 75, 80);
    --link-color: rgb(0, 221, 255);
    --header-color: #16222E;
    --header-text-color: #F5F5F5;
    --page-background: #2A4260;
    --green-accent: #AECC53;
    --text-color: rgb(226, 226, 226);
    --grey: rgba(184, 188, 190, 1);
    --text-color: #F5F5F5;
    --low-importance-font-color: rgba(184, 188, 190, 1);
    --mobile-break-width: 1135px;
}
