{% extends 'layout.html' %}

{% block content %}
<h2> Data Visualizations</h2>
<div class="datawindow"> 
    <nav class="datanav">
        <a class="datanavlink" href="/"> Map </a>
        <a class="datanavlink" href="/"> Plot </a>
        <a class="datanavlink" href="/"> Table </a>
    </nav>
    <div class="dropdown">
        <label for="Indicator">Indicator:</label>
        <select name="Indicator" onchange="makeBarChart(value)">
            <option value="BIODIV" selected="True"> Biodiversity </option>
            <option value="IUCNRL">IUCN Red List Index</option>
            <option value="NITROG">Sustainable Nitrogen Management</option>
        </select>
    </div>
    <canvas id="BarChart"></canvas>
</div>

{% endblock %}