<footer class="site-footer">
    <h1 id="footer-title"> Sustainable and Shared-Prosperity Policy Index</h1>
    <div class="footer-col-box">
        <div class="footer-col">
            <h2 class="footer-col-title">Data</h2>
            <ul class="footer-col-list">
                <li class="footer-link"><a></a></li>
                <li class="footer-link"><a></a></li>
                <li class="footer-link"><a></a></li>
                <li class="footer-link"><a></a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h2 class="footer-col-title">Methodology</h2>
            <ul class="footer-col-list">
                <li class="footer-link"><a></a></li>
                <li class="footer-link"><a></a></li>
                <li class="footer-link"><a></a></li>
                <li class="footer-link"><a></a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h2 class="footer-col-title"></h2>
            <ul class="footer-col-list">
                <li class="footer-link"><a></a></li>
                <li class="footer-link"><a></a></li>
                <li class="footer-link"><a></a></li>
                <li class="footer-link"><a></a></li>
            </ul>
        </div>
    </div>     
    <a href="{{ url_for('auth_bp.login') }}">Administrator Login</a>
</footer>