{% extends 'layout.html' %}

{% block content %}
    <article class="page-content">
      <p> Our research team has created a policy index that documents the 
        policies being practiced around the world that create an economy 
        that cares for people and the planet. We know the policies to create 
        a sustainable world, to share prosperity and provide a comfortable, 
        meaningful life for all people, and to reduce suffering globally. 
        Three pillars—Sustainability, Market Structure, Public Goods and 
        Services—represent government policies that create and govern the 
        economy to create the outcomes desired by the society.  </p>
    </article>
{% endblock %}
