<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/js/tabulator.min.js" integrity="sha512-BGo9xGWI32ZfTMp/ueR3fZKO5nYkPbt3uwMWr+w8w3e72H8A0sTQGO+iqRADwIT0eJkFP1HDgSC82gA4sTuQ6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/css/tabulator.min.css" integrity="sha512-j3rR7zfij45jvjB25No5oizV4tdpt6buwLrvfhXXboG+F88VMnvA4TsJpKgChHa156f+6gYk951Cv5pInltllQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% assets "home_script_bundle" %}
      <script type="text/javascript" src="{{ url_for('home_bp.static', filename = 'script.js') }} " defer></script>
    {% endassets %}
    {% assets "home_style_bundle" %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('home_bp.static', filename = 'style.css') }} "/>
    {% endassets %}
  </head>

  <body>
    {% include 'header.html' %}
    <div class="pagecontent">
      {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
  </body>
  
</html>

