{% extends 'comparison.html' %}

{% block javascript_chart_js %}
    <script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'charts/DummyData.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script> -->
    <script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'charts/categoryRadarStatic.js') }}" defer></script>
{% endblock %}
{% block comparison_title %} <h1> Brazil, India, and Indonesia </h1> {% endblock %} 
{% block comparison_subtitle %} <h2> Emerging Economies Vary in Their Policy Needs, But All Must Remain Mindful of Sustainability in Development </h2> {% endblock %}
{% block comparison_radar %} 
    <section id="radar-chart-flex-container" class="radar-chart-flex-container datawindow"> </section>
    <script defer>
        window.RadarBRA = new CategoryRadarStatic("BRA", document.getElementById('radar-chart-flex-container'))
        window.RadarIND = new CategoryRadarStatic("IND", document.getElementById('radar-chart-flex-container'))
        window.RadarIDN = new CategoryRadarStatic("IDN", document.getElementById('radar-chart-flex-container'))
    </script>
    {% endblock %}
    {% block sustainability %}
    <div id="sus-stack" class="pillar-stack-window"> </div>
    <div id="sus-diff" class="pillar-diff-window"> </div>
    <script defer>
        window.SUSStack = new StaticPillarStackedBarChart(
            ["BRA", "IND", "IDN"],
            "SUS",
            document.getElementById("sus-stack"),
            {"BRA": "#FECC02", "IND": "#BBBBBB", "IDN": "#BC002D"}
        )
        window.StaticDiffBRAvINDinSUS = new StaticPillarDifferentialChart("BRA", "IND", "SUS", document.getElementById("sus-diff"))
        window.StaticDiffBRAvIDNinSUS = new StaticPillarDifferentialChart("BRA", "IDN", "SUS", document.getElementById("sus-diff"))
        window.StaticDiffINDvIDNinSUS = new StaticPillarDifferentialChart("IND", "IDN", "SUS", document.getElementById("sus-diff"))
    </script>
    {% endblock %}
    {% block market_structure %}
    <div id="ms-stack" class="pillar-stack-window"> </div>
    <div id="ms-diff" class="pillar-diff-window"> </div>
    <script defer>
        window.MSStack = new StaticPillarStackedBarChart(["BRA", "IND", "IDN"], "MS", document.getElementById("ms-stack"),
            {"BRA": "#FECC02", "IND": "#BBBBBB", "IDN": "#BC002D"}
        )
        window.StaticDiffBRAvINDinMS = new StaticPillarDifferentialChart("BRA", "IND", "MS", document.getElementById("ms-diff"))
        window.StaticDiffBRAvIDNinMS = new StaticPillarDifferentialChart("BRA", "IDN", "MS", document.getElementById("ms-diff"))
        window.StaticDiffINDvIDNinMS = new StaticPillarDifferentialChart("IND", "IDN", "MS", document.getElementById("ms-diff"))
    </script>
    {% endblock %}
    {% block public_goods %}
    <div id="pg-stack" class="pillar-stack-window"> </div>
    <div id="pg-diff" class="pillar-diff-window"> </div>
    <script defer>
        window.PGStack = new StaticPillarStackedBarChart(["BRA", "IND", "IDN"], "PG", document.getElementById("pg-stack"),
            {"BRA": "#FECC02", "IND": "#BBBBBB", "IDN": "#BC002D"}
        )
        window.StaticDiffBRAvINDinPG = new StaticPillarDifferentialChart("BRA", "IND", "PG", document.getElementById("pg-diff"))
        window.StaticDiffBRAvIDNinPG = new StaticPillarDifferentialChart("BRA", "IDN", "PG", document.getElementById("pg-diff"))
        window.StaticDiffINDvIDNinPG = new StaticPillarDifferentialChart("IND", "IDN", "PG", document.getElementById("pg-diff"))
    </script>
    {% endblock %}
