{% extends 'comparison.html' %}

{% block comparison_title %} <h1> Brazil, India, and Indonesia </h1> {% endblock %} 
{% block comparison_subtitle %} <h2> Emerging Economies Vary in Their Policy Needs, But All Must Remain Mindful of Sustainability in Development </h2> {% endblock %}
{% block sustainability %}
<div class="datawindow"> 
    <nav class="datanav">
        <a class="datanavlink" href="/"> Map </a>
        <a class="datanavlink" href="/"> Plot </a>
        <a class="datanavlink" href="/"> Table </a>
    </nav>
</div>

{% endblock %}
