{% extends 'comparison.html' %}

    
{% block data_import %} {% endblock %}
{% block comparison_title %} <h1> China, Russia, and the United States </h1> {% endblock %} 
{% block comparison_subtitle %} <h2> Global Superpowers Struggle to Provide for the Common Good </h2> {% endblock %}
{% block sustainability %}
    Here's some text on sustainability
{% endblock %}

{% block market_structure %}
    Here's some text on market structure
    <script>
    </script>
{% endblock %}

{% block public_goods %}
{% endblock %}
