{% extends 'comparison.html' %}

{% block comparison_title %} <h1> China, Russia, and the United States </h1> {% endblock %} 
{% block comparison_subtitle %} <h2> Global Superpowers Struggle to Provide for the Common Good </h2> {% endblock %}
{% block sustainability %}
<div class="datawindow"> 
    <nav class="datanav">
        <a class="datanavlink" href="/"> Map </a>
        <a class="datanavlink" href="/"> Plot </a>
        <a class="datanavlink" href="/"> Table </a>
    </nav>
</div>

{% endblock %}
