{% extends 'comparison.html' %}

    {% block comparison_title %} <h1> Sweden, France, Japan </h1> {% endblock %} 
    {% block comparison_subtitle %} <h2> Top Performers Vary in Strengths, and All Have Weak Areas </h2> {% endblock %}

    {% block comparison_radar %}
    <div class="datawindow"> 
        <nav class="datanav">
            <a class="datanavlink" href="/"> Map </a>
            <a class="datanavlink" href="/"> Plot </a>
            <a class="datanavlink" href="/"> Table </a>
        </nav>

        <div class="radar-chart-flex-container">
            <div class="radar-chart-box">
                <h3> Sweden </h3>
                <div class="radar-chart-canvas-container"> 
                    <canvas id="radar-chart-1" class="radar-chart chart-canvas"></canvas>
                </div>
            </div>
            <div class="radar-chart-box">
                <h3> France </h3>
                <div class="radar-chart-canvas-container">
                    <canvas id="radar-chart-2" class="radar-chart chart-canvas"></canvas>
                </div>
            </div>
            <div class="radar-chart-box">
                <h3> Japan </h3>
                <div class="radar-chart-canvas-container">
                    <canvas id="radar-chart-3" class="radar-chart chart-canvas"></canvas>
                </div>
            </div>
        </div>
        <script defer>
        categoryRadarStatic("SWE", document.getElementById('radar-chart-1'))
        categoryRadarStatic("FRA", document.getElementById('radar-chart-2'))
        categoryRadarStatic("JPN", document.getElementById('radar-chart-3'))
        </script>
    </div>
    {% endblock %}
    {% block sustainability %}
    <canvas id="sustainability-differential-1-2" class="chart-canvas"></canvas>
    <canvas id="sustainability-differential-1-3" class="chart-canvas"></canvas>
    <canvas id="sustainability-differential-2-3" class="chart-canvas"></canvas>
    <script defer>
    pillarDifferentialStatic("SWE", "FRA", "SUS", document.getElementById('sustainability-differential-1-2'))
    // categoryDifferentialStatic("SWE", "JPN", "SUS", document.getElementById('sustainability-differential-1-3'))
    // categoryDifferentialStatic("FRA", "SWE", "SUS", document.getElementById('sustainability-differential-2-3'))
    </script>
    {% endblock %}
    {% block market_structure %}
    {% endblock %}
    {% block public_goods %}
    {% endblock %}
