$accent-color: rgb(41, 75, 80);
$link-color: rgb(0, 221, 255);
$dark-blue: #1B2A3C;
$light-blue: #274366;
$green-accent: #AECC53;
$white: rgb(226, 226, 226);
$grey: rgba(184, 188, 190, 1);
$black: rgb(42, 41, 43);
$mobile-break-width: 1135px;

html, body, canvas, div {
    margin: 0;
}

html {
    font-size: 16pt;
}

body {
    margin: 0;
    color: $white;
    background-color: $light-blue;
    line-height: 1.25rem;
}

h1 {
    font-family: 'REM', sans-serif;
    font-weight:600;
    font-size: 1.4rem;
}

h2 {
    font-family: 'Libra Baskerville', serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.hero-section {
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.hero-text-content {
    min-width: 350px;
    flex: 2 1 0;
}
