.comparison-article {
  padding: 50px;
}

.radar-chart-flex-container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.chart-section-pillar-differential {
  padding: 0.5em;
  display: flex;
  max-height: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pillar-diff-window {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
