$accent-color: rgb(41, 75, 80);
$link-color: rgb(0, 221, 255);
$dark-blue: #1B2A3C;
$light-blue: #274366;
$green-accent: #AECC53;
$white: rgb(226, 226, 226);
$grey: rgba(184, 188, 190, 1);
$black: rgb(42, 41, 43);
$mobile-break-width: 1135px;

