.data-widget {
    display: flex;
    flex-direction: column;
    overflow: auto;
    resize: both;
    position: relative;
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
    min-width: 300px;
    min-height: 240px;
}

.widget-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.widget-controls-button {
    border: none;
    background-color: transparent;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin: 0.2em;
}

.widget-controls-button:hover {
    .options {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
    .fullscreen {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
    .close {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(340deg);
    }
    transform: scale(1.04);
    transition: 0.1s;
}
