

.download-box {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3em;
}

.data-download-reveal {
    margin: 0 0.5em;
    padding: 0.4em 0.5em;
    //flex-grow: 1;
    border: none;
    font-size: 0.6em;
    border-radius: 0.5em;
}

.data-download-reveal:hover {
    transform: scale(1.02);
    transition: 0.1s;
    
}

.data-download-form {
    overflow: hidden;
    //flex-grow: 0.0001;
}