$dark-blue: #1B2A3C;
$light-blue: #2A4260;
$green-accent: #AECC53;
$white: rgb(226, 226, 226);
$grey: rgba(184, 188, 190, 1);
$black: rgb(42, 41, 43);


.data-dashboard-section {
    padding: 0em 2em;
}

.grid-stack > .grid-stack-item {
    background-color: $white;
    border-radius: 1em;
    margin: 10px;
}

.data-dashboard-dropdown {
    background-color: rgb(41, 75, 80);
    color: $white;
    border-radius: 0.5em;
}

.data-dashboard-options-list {
    display: none;
}

.widget-canvas {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
    overflow: hidden;
}