.data-widget {
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 0.5em;
    min-width: 250px;
    min-height: 300px;
    padding: 1em;
}

.widget-controls {
    display: flex;
    flex-direction: row;
    position: absolute;
    top:0.2em;
    right:0.2em;
}

.widget-controls-button {
    // border: none;
    // background-color: transparent;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.widget-controls-button:hover {
    .options {
        fill: blue;
    }
    .fullscreen {
        fill: blue;
    }
    .close {
        fill: red;
    }
    transform: scale(1.02);
    transition: 0.1s;
}
