$accent-color: rgb(41, 75, 80);
$link-color: rgb(0, 221, 255);
$dark-blue: #1B2A3C;
$light-blue: #2A4260;
$green-accent: #AECC53;
$white: rgb(226, 226, 226);
$grey: rgba(184, 188, 190, 1);
$black: rgb(42, 41, 43);
$mobile-break-width: 1135px;

.site-footer {
    background-color: $dark-blue;
    color: $white;
    padding: 20px 50px;
}

.footer-col-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-title {
    font-size: 1.4em;
}

.footer-col-title {
    font-size: 1.1em;
    margin: 0;
}

.footer-col-list {
    list-style: none;
    margin: 0;
    padding-left: 15px;
}

.footer-link:hover {
    color: $green-accent;
}

#admin-login {
    margin: 5px 0px;
    text-decoration: none;
    color: $white;
}

#admin-login:hover {
    transform: scale(1.01);
    transition: 0.1s ease;
}