$accent-color: rgb(41, 75, 80);
$link-color: rgb(0, 221, 255);
$dark-blue: #1B2A3C;
$light-blue: #2A4260;
$green-accent: #AECC53;
$white: rgb(226, 226, 226);
$grey: rgba(184, 188, 190, 1);
$black: rgb(42, 41, 43);
$mobile-break-width: 1135px;


.site-header {
    display: flex;
    padding: 20px 50px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-blue;
}

.titlebox {
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    color: $green-accent;
    text-decoration: none;
    align-items: flex-start;
}


.title {
    font-size: 1.7em;
    font-weight: 300;
    margin: 10px 0px;
    white-space: nowrap;
}

.header-nav-bar {
    position: relative;
    width: 70%;
}

.header-nav-bar-link-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header-nav-bar-link {
    font-size: 1.2em;
    color: $white;
    text-decoration: none;
}

.title-subdiv {
    flex: 0 1 min-content;
    transition: all 0.25s linear;
    align-self: flex-start;
    white-space: nowrap;
}

.title-collapse {
    flex: 0 1 auto;
    opacity: 1;
    width: min-content;
    margin-right: 5px;
    transition: all 0.25s linear;
}

@media screen and (max-width: 600px) {
    .site-header {
        flex-direction: row;
    }
    .header-nav-bar-link {
        margin: 5px;
    }
    .header-nav-bar-link-list {
        display: block;
    }
    .title-subdiv {
        flex: 0 1 min-content;
        transition: all 0.25s linear;
    }
    .titlebox {
        width: 70%;
    }
    .title-collapse {
        opacity: 0.1;
        flex: 0.0001;
        overflow: hidden;
        margin-right: 0;
        transition: all 0.25s ease;
    }
}