$accent-color: rgb(41, 75, 80);
$link-color: rgb(0, 221, 255);
$dark-blue: #1B2A3C;
$light-blue: #274366;
$green-accent: #AECC53;
$white: rgb(226, 226, 226);
$grey: rgba(184, 188, 190, 1);
$black: rgb(42, 41, 43);
$mobile-break-width: 1135px;

.chart-section { 
    padding: 60px;
    max-width: 1000px;
}

.chart-section-title {
    font-size: 0.95em;
    margin-bottom: 0.5em;
}

.chart-section-title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3em;
    button {
      font-size: 0.65em;
    } 
}

#country-group-selector-container {
  --num-options: 6;
  --selected-index: 0;
  --option-width: calc(100% / var(--num-options));
  display: flex;
  position: relative;
  margin: 5px auto;
  background: $dark-blue;
  border-radius: 5px;
  font-size: 0.65em;
  overflow: hidden;
}

#country-group-selector-container input[type="radio"] {
  display: none;
}

#country-group-selector-container label {
  flex: 1;
  text-align: center;
  padding: 0 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
  color: #ccc;
}

#country-group-selector-container label:hover {
  color: $green-accent;
}

#country-group-selector-container input[type="radio"]:checked + label {
  color: $white;
}

#country-group-selector-container .slider {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: var(--option-width);
  height: 100%;
  background: $green-accent;
  transition: transform 0.3s ease;
  z-index: 0;
  transform: translateX(calc(var(--selected-index) * 100% ));
}

.legend-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.legend-title-bar-buttons {
  font-size: 0.65em;
}

.legend-title {
  font-size: 0.9em;
  margin: 0;
  padding: 0.1em 0;
}

.legend-item {
  display: flex;
  font-size: 0.70em;
  background-color: $dark-blue;
  padding: 0.3em;
  padding-right: 0.3em;
  padding-left: 0.5em;
  border-radius: 5px;
  justify-content: space-between;
  margin: 0.5em 0;
}

.add-country-pin-results-window {
  display: flex;
  font-size: 0.7em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 300px;
  align-items: center;
}

.add-country-pin-result {
  width: 90%;
}

.add-country-pin-result:hover {
  width: 90%;
  background-color: $green-accent;
  height: auto;
  border-radius: 5px;
}
