<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> {{ Title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('auth_bp.static', filename = 'style.css') }} "/>
<body class="delete-body">
    <h1 id="delete-header"> {{ title }} </h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% set newmessage = messages.pop(-1) %}
            <div class="message">{{ newmessage }}</div>
        {% endif %}
    {% endwith %}
    <div class="form-box">
      {% block content %}{% endblock %}
    </div>
</body>
</html>