<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% set newmessage = messages.pop(-1) %}
            <div class="message">{{ newmessage }}</div>
        {% endif %}
    {% endwith %}
    <h1>Update your password</h1>
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      {{ form.username }}
      {{ form.oldpassword }}
      {{ form.newpassword }}
      {{ form.newpasswordconfirm }}
      {{ form.submit }}
    </form>
  </body>
</html>