{% extends 'layout.html' %}

{% block subheader %}
{% include 'subheader.html' %}
{% endblock %}

{% block title %}
<title>SSPI Scores</title>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block stylesheet %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:wght@400;700&family=REM:wght@100;300;400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="score-bar-overall-flexbox">
        <div id="sspi-score-bar-parent" class="score-bar-parent"></div>
    </section>
    <section class="score-bar-pillar-flexbox">
        <div id="sus-score-bar-parent" class="score-bar-parent"></div>
        <div id="ms-score-bar-parent" class="score-bar-parent"></div>
        <div id="pg-score-bar-parent" class="score-bar-parent"></div>
    </section>
    <script defer>
        const scoreBarSSPIParent = document.getElementById('sspi-score-bar-parent');
        const scoreBarSUSParent = document.getElementById('sus-score-bar-parent');
        const scoreBarMSParent = document.getElementById('ms-score-bar-parent');
        const scoreBarPGParent = document.getElementById('pg-score-bar-parent');
        SSPICharts.push(new ScoreBarStatic(scoreBarSSPIParent, "SSPI"));
        SSPICharts.push(new ScoreBarStatic(scoreBarSUSParent, "SUS", SSPIColors.SUS, width=375));
        SSPICharts.push(new ScoreBarStatic(scoreBarMSParent, "MS", SSPIColors.MS, width=375));
        SSPICharts.push(new ScoreBarStatic(scoreBarPGParent, "PG", SSPIColors.PG, width=375));
    </script>
{% endblock %}
