{% extends 'layout.html' %}

    {% block javascript %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
        <script src="{{ url_for('client_bp.static', filename = 'charts/category-radar-static.js') }}"></script>
        <script src="{{ url_for('client_bp.static', filename = 'charts/category-differential-static.js') }}"></script>
        <script src="{{ url_for('client_bp.static', filename = 'charts/pillar-stacked-bar-static.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('client_bp.static', filename = 'style.css') }}"/>
        {% block data_import %}{% endblock %} 
    {% endblock %}

    {% block javascript_chart_js %}
        <script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'charts/DummyData.js') }}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script> -->
        <script type="text/javascript" src="{{ url_for('client_bp.static', filename = 'charts/categoryRadarStatic.js') }}" defer></script>
    {% endblock %}

    {% block content %}

        <script defer>
        function redefineLabels(chartObject) {
            const newLabels = chartObject.chart.data.labels.map(label => chartObject.labelMap[label])
            for (let i = 0; i < newLabels.length; i++) {
                if (newLabels[i].includes(" ")) {
                    newLabels[i] = newLabels[i].split(" ")
                }
            }
            chartObject.chart.data.labels = newLabels
            chartObject.chart.update()
        }
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        function adjustCharts(objectList) {
            objectList.forEach(object => {
                redefineLabels(object)
            })
        }
        </script>
        <article class="paper-resources-article"> 
            <div id="chart-and-button-wrapper-1" class="chart-and-button-wrapper">
                <section id="radar-chart-flex-container-1" class="radar-chart-flex-container datawindow"> </section>
            </div>
            <script defer>
            window.RadarSWE = new CategoryRadarStatic("SWE", document.getElementById('radar-chart-flex-container-1'), "#111", "#33333333")
            window.RadarFRA = new CategoryRadarStatic("FRA", document.getElementById('radar-chart-flex-container-1'), "#111", "#33333333")
            window.RadarNLD = new CategoryRadarStatic("NLD", document.getElementById('radar-chart-flex-container-1'), "#111", "#33333333")
            </script>
            <div id="chart-and-button-wrapper-2" class="chart-and-button-wrapper">
                <section id="radar-chart-flex-container-2" class="radar-chart-flex-container datawindow"> </section>
            </div>
            <script defer>
            window.RadarCHN = new CategoryRadarStatic("CHN", document.getElementById('radar-chart-flex-container-2'), "#111", "#33333333")
            window.RadarRUS = new CategoryRadarStatic("RUS", document.getElementById('radar-chart-flex-container-2'), "#111", "#33333333")
            window.RadarUSA = new CategoryRadarStatic("USA", document.getElementById('radar-chart-flex-container-2'), "#111", "#33333333")
            </script>
            <div id="chart-and-button-wrapper-3" class="chart-and-button-wrapper">
                <section id="radar-chart-flex-container-3" class="radar-chart-flex-container datawindow"> </section>
            </div>
            <script defer>
            window.RadarBRA = new CategoryRadarStatic("BRA", document.getElementById('radar-chart-flex-container-3'), "#111", "#33333333")
            window.RadarIND = new CategoryRadarStatic("IND", document.getElementById('radar-chart-flex-container-3'), "#111", "#33333333")
            window.RadarIDN = new CategoryRadarStatic("IDN", document.getElementById('radar-chart-flex-container-3'), "#111", "#33333333")
            </script>
            <script defer>
            setTimeout(() => {
                adjustCharts([
                    window.RadarSWE,
                    window.RadarFRA,
                    window.RadarBRA,
                    window.RadarCHN,
                    window.RadarRUS,
                    window.RadarUSA,
                    window.RadarIND,
                    window.RadarIDN,
                    window.RadarNLD]
                )
            }, 1000)
            const save1 = document.createElement('button')
            save1.id = 'save1'
            save1.innerHTML = 'Save SWE-FRA-NLD'
            save1.style.padding = '10px'
            save1.style.margin = '10px'
            save1.style.fontSize = '16px'
            save1.style.color = 'black'
            document.getElementById('chart-and-button-wrapper-1').prepend(save1)
            const save2 = document.createElement('button')
            save2.id = 'save2'
            save2.innerHTML = 'Save CHN-RUS-USA'
            save2.style.padding = '10px'
            save1.style.margin = '10px'
            save1.style.fontSize = '16px'
            save2.style.color = 'black'
            document.getElementById('chart-and-button-wrapper-2').prepend(save2)
            const save3 = document.createElement('button')
            save3.id = 'save3'
            save3.innerHTML = 'Save BRA-IND-IDN'
            save3.style.padding = '10px'
            save1.style.margin = '10px'
            save1.style.fontSize = '16px'
            save3.style.color = 'black'
            document.getElementById('chart-and-button-wrapper-3').prepend(save3)
            document.getElementById('save1').addEventListener('click', function () {
                const element = document.getElementById('radar-chart-flex-container-1');
                html2canvas(element, {backgroundColor: null}).then(canvas => {
                    const link = document.createElement('a');
                    link.download = 'SWE-FRA-NDL.png';
                    link.href = canvas.toDataURL('image/png');
                    link.click();
                });
            });
            document.getElementById('save2').addEventListener('click', function () {
                const element = document.getElementById('radar-chart-flex-container-2');
                html2canvas(element, {backgroundColor: null}).then(canvas => {
                    const link = document.createElement('a');
                    link.download = 'CHN-RUS-USA.png';
                    link.href = canvas.toDataURL('image/png');
                    link.click();
                });
            });
            document.getElementById('save3').addEventListener('click', function () {
                const element = document.getElementById('radar-chart-flex-container-3');
                html2canvas(element, {backgroundColor: null}).then(canvas => {
                    const link = document.createElement('a');
                    link.download = 'BRA-IND-IDN.png';
                    link.href = canvas.toDataURL('image/png');
                    link.click();
                });
            });
            </script>
        </article> 

    {% endblock %}
