# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test Endpoints

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        mongodb-version: [6.0]
        python-version: [3.12]
    
    environment: configure_pytest_automation

    env:
      SQLALCHEMY_DATABASE_URI: sqlite:///${{ github.workspace }}/instance/database.db
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      SSPI_APIKEY: ${{ secrets.API_KEY }}
    
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Create Database
        run: |
          mkdir ./instance
          touch ./instance/database.db
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.10.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Test with pytest
        run: |
          pytest
