/* Theme Toggle Component Styles */

.theme-toggle-container {
    max-width: 5em;
    padding-left: 1em;
    border-left: var(--theme-border-thin);
}

.theme-label {
    width: 100%;
    text-align: center;
    line-height: 1.25;
    padding: .5em;
    margin: 0;
    font-family: var(--header-font-family, sans-serif);
    font-size: .4em;
    color: var(--low-importance-font-color, #fff);
}

.theme-toggle {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.theme-toggle input {
    display: none;
}

.theme-toggle .icon {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    opacity: .7;
    transition: opacity .3s;
}

.theme-toggle .sun-svg {
    position: absolute;
    left: 39px;
    display: flex;
    flex-align: center;
    justify-content: center;
    color: var(--sun-color);
    z-index: 3;
}

.theme-toggle .sun {
    color: var(--sun-color);
}

.theme-toggle .moon-svg {
    position: absolute;
    display: flex;
    flex-align: center;
    justify-content: center;
    left: 6px;
    z-index: 3;
}

.theme-toggle .moon {
    color: var(--moon-color);
}

.theme-toggle input:not(:checked) ~ .icons .sun {
    opacity: .2;
}

.theme-toggle input:checked ~ .icons .moon {
    opacity: .6;
}

.theme-toggle .slider {
    position: relative;
    width: 64px;
    height: 32px;
    border-radius: 30px;
    border: var(--theme-border-thin, 1px solid #ccc);
    transition: background-color .3s;
}

.theme-toggle .slider::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 3px;
    top: 3px;
    background-color: var(--toggle-thumb);
    border-radius: 50%;
    transition: transform .3s;
}

.theme-toggle input:checked ~ .slider::before {
    background-color: var(--toggle-thumb);
}

.theme-toggle input:checked ~ .slider {
    background-color: none;
}

.theme-toggle input:checked ~ .slider::before {
    transform: translateX(32px);
}